.car {
  background: url(../../img/car/road-asphalt-png-favpng-1NyacQEjRn6aYfyXGhpJzRHNK.jpg)
    center center/cover no-repeat;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.avto {
  width: 300px;
  left: -50px;
  position: absolute;
  bottom: 110px;
  animation: avto 8s linear infinite;
}

.avto img {
  width: 100%;
  /*  animation: avto 8s ease-in-out infinite; */
}

.wheels img {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  animation: wheels 3s linear infinite;
}

.wheel-front {
  right: 37px;
}

.wheel-back {
  left: 53px;
}

.migalka {
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: 33px;
  left: 133px;
  border-radius: 20px 20px 0 0;
  animation: migalka 1s ease-in-out infinite;
}
